body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

#progressContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 30px;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

#progressBar {
  width: 100%;
  height: 100%;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

#progress {
  height: 100%;
  width: 0;
  background-color: #4caf50;
  transition: width 0.2s;
}

#canvasContainer {
  width: 100vw;
  height: 100vh;
}

#countryFilter,
#dataCard,
#controlsContainer {
  position: absolute;
  z-index: 10;
}

#countryFilter {
  top: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
}

#dataCard {
  top: 50px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
}

#controlsContainer {
  top: 10px;
  right: 10px;
  padding: 10px;
  border-radius: 5px;
}

.ui-element {
  display: none; /* Hide UI elements by default */
}

#dataCardButton {
  cursor: pointer;
}
